.banner-row {
  min-height: 100vh;
  padding: 150px 0;
}

.banner-social {
  @extend %list-reset;

  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  a {
    font-size: 16px;
    font-weight: lighter;
    text-decoration: underline;
    color: $color-black;

    &:hover {
      color: $color-accent;
    }
  }
}

.banner-img-wrapper {
  img {
    width: 100%;
    height: auto;
  }
}