.subsribe-section {
  background: $color-body-bg;

  > .container > .row {
    padding: 80px 0;
  }
}

.subscribe-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
}

.subsribe-notify {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 10px;
  text-align: center;
  background: $color-success;
  color: #fff;
  width: 100%;
}