@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $color-black;
  // background: $color-body-bg;

  @media (max-width: $md) {
    font-size: 16px;
  }
}

a {
  transition: .2s all;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 800;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 20px;
}


img {
  max-width: 100%;
  height: auto;
}

@media (max-width: $md) {
  h1 {
    font-size: 32px;
    line-height: 1.4;
  }
}