.form-control {
  @extend %input-base;
  @include placeholder($color-black);
  color: $color-black;
  border: 1px solid $color-border;

  height: 49px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

  &.has-error {
    border-color: $color-error;
  }
}

.form-row.row {
  margin-left: -6px;
  margin-right: -6px;

  > div {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.form-error {
  margin-top: -15px;
  margin-bottom: 20px;
  color: $color-error;
  font-size: 14px;
  font-weight: bold;
}

textarea.form-control {
  height: 150px;
  padding-top: 15px;
  resize: none;
}

.form-toggle {
  transition: .2s all;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 55px;
  border-radius: 25px;
  background: $color-border;

  &.is-active {
    background: $color-accent;

    label {
      left: 8px;
    }

    span {
      left: 30px;
    }
  }

  label {
    transition: .2s all;
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
    font-size: 10px;
  }

  span {
    transition: .2s all;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  }
}

.form-direction {
  margin: 10px 0 20px;
  div {
    margin-right: 3px;
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    position: relative;
    opacity: .3;
    border: 1px solid $border-color;

    &.is-active {
      opacity: 1;
    }

    &:after {
      @extend %pseudo;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style:solid;
    }
  }
}

.form-direction-top:after {
  border-width: 0 15px 30px 15px;
  border-color: transparent transparent $color-accent transparent;
}

.form-direction-top_right:after {
  border-width: 0 30px 30px 0;
  border-color: transparent $color-accent transparent transparent;
}

.form-direction-right:after {
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent $color-accent;
}

.form-direction-bottom_right:after {
  border-width: 0 0 30px 30px;
  border-color: transparent transparent $color-accent transparent;
}

.form-direction-bottom:after {
  border-width: 30px 15px 0 15px;
  border-color: $color-accent transparent transparent transparent;
}

.form-direction-bottom_left:after {
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent $color-accent;
}

.form-direction-left:after {
  border-width: 15px 30px 15px 0;
  border-color: transparent $color-accent transparent transparent;
}
.form-direction-top_left:after {
  border-width: 30px 30px 0 0;
  border-color: $color-accent  transparent transparent transparent;
}
