.header-main {
  position: relative;
  z-index: 10;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

.header-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-logo {
  display: block;
  padding: 10px 0;
  img {
    width: 210px;
    height: auto;
  }
}

.header-nav {
  font-size: 15px;

  a {
    position: relative;
    color: $color-black;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 35px;

      @media(max-width: $sm) {
        margin-right: 15px;
      }
    }

    &:after {
      @extend %pseudo;
      transition: .2s all;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background: $color-accent;
    }

    &:hover {
      color: $color-black;
    }

    &:hover:after,
    &.is-active:after {
      width: 100%;
    }

  }

}