$align-list:  center, right, left;
@each $type in $align-list {

  .text-#{$type} {
    text-align: $type;
  }

  .text-xlg-#{$type} {
    @media (max-width: $xlg) {
      text-align: $type !important;
    }
  }

  .text-lg-#{$type} {
    @media (max-width: $lg) {
      text-align: $type !important;
    }
  }

  .text-md-#{$type} {
    @media (max-width: $md) {
      text-align: $type !important;
    }
  }

  .text-sm-#{$type} {
    @media (max-width: $sm) {
      text-align: $type !important;
    }
  }
}