@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $color-black;
  // background: $color-body-bg;

  @media (max-width: $md) {
    font-size: 16px;
  }
}

a {
  transition: .2s all;
  &:hover {
    text-decoration: none;
  }
}

h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
  @media (max-width: $md) {
    font-size: 24px;
  }
}


img {
  max-width: 100%;
  height: auto;
}