$color-black: #242423;
$color-accent: #FF5964;
$color-body-bg: #FCFCFC;
$color-border: #c7c7c7;
$color-error: #E3170A;
$color-success: #0EAD69;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

//spacing
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: 10px,
    2: 20px,
    3: 30px,
    4: 40px,
    5: 50px
  ),
  $spacers
);

// cointainer
$container-max-widths: (
  sm: 700px,
  md: 900px,
  lg: 960px,
  xl: 1200px
);

$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xlg
);

$modal-content-border-radius:       4px;
$modal-lg:                          840px;
$modal-md:                          572px;
$modal-sm:                          354px;
$modal-backdrop-bg:                 #000;
$modal-backdrop-opacity:            .65;
// $modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5);
// $modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5);

//mixins
@mixin placeholder($c) {
  &::-webkit-input-placeholder { 
    color: $c;
    opacity: 1;
  }
  &::-moz-placeholder { 
    color: $c;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $c;
    opacity: 1;
  }
  &:-moz-placeholder { 
    color: $c;
    opacity: 1;
  }
}

//placeholders
%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

%pseudo {
  content: '';
  display: block;
  position: absolute;
}

%centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%input-base {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-weight: lighter;
}

%btn-base {
  transition: all .3s;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 1;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}